# Environments
.env

# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# Reports
reports/

# ARCX Logs
logs/

# Ignored project files
flutter-design/
arcx-frontend/layout.txt